.p-32{
    padding: 32px;
}
.p-16{
    padding: 16px;
}
.p-12{
    padding: 12px;
}
.pe-32{
    padding-right: 32px;
}
.pb-22{
    padding-bottom: 22px;
}
.m-32{
    margin: 32px;
}
.mt-12{
    margin-top: 12px;
}
.mt-14{
    margin-top: 14px;
}
.me-23{
    margin-right: 23px;
}
.me-48{
    margin-right: 48px;
}

.ms-24{
    margin-left: 24px;
}
.mx-32{
    margin: 0 32px;
}

.fz-12{
    font-size: 12px;
}
.fz-14{
    font-size: 14px;
}
.fz-16{
    font-size: 16px;
}
.fz-24{
    font-size: 24px;
}
