.header{
    width: 21%;
    height: auto;
}
.menu{
    h1 a {
        background: url(../images/logo-ANSWER.svg) no-repeat;
        background-size: contain;
        width: 151px;
        height: 40px;
        text-indent: 101%;
        white-space: nowrap;
    }
    ul li{ 
        a{
            padding: 4px 32px;
            color: #212529;
            &:hover{
                color: #198754;        
                border-left: 4px solid #198754;
                padding-left: 28px;
            }
        }
    }
}